body {
    background-color: black;
    margin: 0px;
}

.nav {
    display: flex;
    justify-content: space-between;
    background-color: #3F3F3F;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 100;
}

.home {
    margin: 10px;
    display: flex;
}

.others {
    margin: 10px;
}

.nav a {
    padding: 20px;
    text-decoration: none;
    color: white;
}

.nav a:hover {
    background-color: white;
    color: black;
}

.start {
    width: 100%;
    align-items: center;

}

#intro {
    width: 100%;
}

#hello {
    color: #908D8D;
    font-size: 200%;
    padding-left: 10%;
}

#name {
    color: white;
    font-size: 300%;
    padding-left: 20%;
}

#web {
    color: white;
    font-size: 400%;
    padding-left: 25%;
    padding-right: 5%;
}

.start {
    display: flex;
    justify-content: space-between;
    border-color: #3F3F3F;
    border-width: 3px;
    border-style: none none solid none;
    font-family: 'Inknut Antiqua', serif;
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 80px;
}

#aboutimg {
    flex: 1;
}

.aboutIntro {
    color: white;
    position: relative;
    padding: 20px;
    flex: 1.5;
    font-family: 'Imprima', sans-serif;
}


#ABOUT {
    font-size: 900%;
    font-family: 'Franklin Gothic Medium';
    opacity: 0.2;
    margin: 0px;
    position: absolute;
    top: 0;
    left: 10%;
    font-family: 'Holtwood One SC', serif;
}

#aboutname {
    text-align: center;
    font-size: 48px;
    padding-top: 20px;
    font-family: 'Inknut Antiqua', serif;
}

.aboutIntro p {
    font-size: 20px;
    line-height: 1.5;
}

.aboutIntro a {
    font-size: 20px;
    text-decoration: none;
    color: #00C2FF;
}

#contact {
    display: flex;
}

#email {
    color: #908D8D;
}

#showcontact {
    margin-top: 50px;
    text-decoration: underline;
}

.part {
    color: white;
    margin-top: 100px;
    text-align: center;
}

.what {
    color: #908D8D;
    font-family: 'Imprima', sans-serif;
}

.title {
    font-size: 64px;
    font-family: 'Inknut Antiqua', serif;
}

#myskill {
    display: flex;
    justify-content: center;
    column-gap: 10%;
    font-family: 'Imprima', sans-serif;
    margin: 80px;
}

#work {
    display: flex;
    justify-content: center;
    font-family: 'Imprima', sans-serif;
    margin: 40px;
}

.f {
    position: relative;
    margin: 20px;
}

.hide {
    display: none;
    text-align: left;
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding: 10px;
}

.hide h1 {
    margin: 0px;
}

.hide h2 {
    margin: 0px;
}

#work img:hover+.hide {
    display: block;
}

.hide1 {
    display: none;
    text-align: left;
    position: absolute;
    bottom: 260px;
    left: 0px;
    padding: 10px;
}

.hide1 h1 {
    margin: 0px;
}

.hide1 h2 {
    margin: 0px;
}

#work img:hover+.hide1 {
    display: block;
}

#work img:hover {
    opacity: 0.3;
}

#box2 {
    display: flex;
    justify-content: center;
    column-gap: 10%;
    color: #908D8D;
    font-family: 'Imprima', sans-serif;
}

#number {
    display: flex;
    justify-content: center;
    column-gap: 10%;
    color: #00C2FF;
    font-size: 70px;
    font-family: 'Imprima', sans-serif;
    margin: 80px;
}

.num {
    margin: 0px;
}

.footer {
    color: white;
    background-color: #3F3F3F;
    margin-top: 100px;
    font-family: 'Inknut Antiqua', serif;
}

.footer h1 {
    margin: 0px;
}

.footer h3 {
    margin-top: 0px;
}

#icon {
    margin-left: 80px;
    padding-top: 30px;
}

.footer a {
    padding: 0px 5px;
}

@media screen and (max-width:1200px) {
    #ABOUT {
        font-size: 600%;
    }

    #aboutname {
        font-size: 30px;
    }

    #work {
        flex-direction: column;
    }

    .f {
        margin-top: 0px;
    }

    .hide1 {
        bottom: 0px;
    }

}

@media screen and (max-width:1000px) {
    #startimg {
        display: none;
    }

    #number {
        font-size: 40px;
    }

    .what {
        font-size: 20px;
    }

    .title {
        font-size: 30px;
    }


}

@media screen and (max-width:900px) {
    .about {
        flex-direction: column;
    }
}