body {
    background-color: black;
    margin: 0px;
}

.nav {
    display: flex;
    justify-content: space-between;
    background-color: #3F3F3F;
    width: 100%;
    position: sticky;
    top: 0;

}

.home {
    margin: 10px;
    display: flex;
}

.others {
    margin: 10px;
}

.nav a {
    padding: 20px;
    text-decoration: none;
    color: white;
}

.nav a:hover {
    background-color: white;
    color: black;
}

#intro {
    width: 100%;
}

#hello {
    color: #908D8D;
    text-align: center;
    font-size: 36px;
    width: 40%;
}

#name {
    color: white;
    font-size: 64px;
    text-align: center;

}

#web {
    color: white;
    font-size: 96px;
    text-align: right;
    width: 80%;
}

.start {
    display: flex;
    justify-content: space-between;
    border-color: #3F3F3F;
    border-width: 3px;
    border-style: none none solid none;
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.aboutIntro {
    color: white;
    width: 40%;
    position: relative;
    padding: 20px;
}


#ABOUT {
    font-size: 150px;
    font-family: 'Franklin Gothic Medium';
    opacity: 0.2;
    margin: 0px;
    position: absolute;
    top: 0;
    left: 20%;
}

#aboutname {
    text-align: center;
    font-size: 48px;
    padding-top: 20px;
}

.aboutIntro p {
    font-size: 20px;
    line-height: 1.5;
}

.aboutIntro a {
    font-size: 20px;
    text-decoration: none;
    color: #00C2FF;
}

#contact {
    display: flex;
}

#email {
    color: #908D8D;
}

#showcontact {
    margin-top: 50px;
    text-decoration: underline;
}

.part {
    color: white;
    margin-top: 100px;
    text-align: center;
}

.what {
    color: #908D8D;
    font-family: sans-serif;
}

.title {
    font-size: 64px;
}

#myskill {
    display: flex;
    justify-content: center;
    column-gap: 10%;
}

#work {
    display: flex;
    justify-content: center;
}

.f {
    position: relative;
    margin: 20px;
}

.hide {
    display: none;
    text-align: left;
    position: absolute;
    bottom: 0px;
    left: 0px;
}

#work img:hover+.hide {
    display: block;
}

#work img:hover {
    opacity: 0.3;
}

#box2 {
    display: flex;
    justify-content: center;
    column-gap: 10%;
    color: #908D8D;
}

#number {
    display: flex;
    justify-content: center;
    column-gap: 10%;
    color: #00C2FF;
    font-size: 70px;
}

.num {
    margin: 0px;
}

.footer {
    color: white;
    background-color: #3F3F3F;
    margin-top: 100px;
}

#icon {
    margin-left: 80px;
    padding-top: 30px;
}

.footer a {
    padding: 0px 5px;
}

@media screen and (max-width:480px) {
    .about {
        flex-direction: column;
    }

}