body {
    background-color: black;
    margin: 0px;
}

.nav {
    display: flex;
    justify-content: space-between;
    background-color: #3F3F3F;
    width: 100%;
    position: sticky;
    top: 0;

}

.logo {
    margin: 10px;
}

.others {
    margin: 10px;
}

.nav a {
    padding: 20px;
    text-decoration: none;
    color: white;
}

.nav a:hover {
    background-color: white;
    color: black;
}

#title {
    font-family: 'Inknut Antiqua', serif;
    color: white;
    margin-left: 40px;
    margin-bottom: 0px;
    font-size: 48px;
}

.skill {
    display: flex;
    color: white;
    justify-content: space-around;
    margin: 40px;
    font-family: 'Imprima', sans-serif;
}

.skill div {
    padding: 20px;
    text-align: center;
}

.bar {
    font-family: 'Imprima', sans-serif;
    color: white;
    display: flex;
    justify-content: space-around;
}

.bar h1 {
    color: #00C2FF;
    font-size: 48px;
}

.titleE {
    color: white;
    margin: 10px 40px;
    font-family: 'Inknut Antiqua', serif;
}

.e {
    font-family: 'Imprima', sans-serif;
    color: white;
    border-color: #3F3F3F;
    border-style: solid none solid none;
    border-width: 2px;
    padding: 20px 0px;
    margin-bottom: 30px;
}

.e h4 {
    margin: 10px 40px;
}

.e h2 {
    margin: 10px 60px;
    padding: 30px 60px;
    border-color: #3F3F3F;
    border-style: none none none solid;
    border-width: 1px;
}

.footer {
    color: white;
    background-color: #3F3F3F;
    margin-top: 100px;
    font-family: 'Inknut Antiqua', serif;
}

#icon {
    margin-left: 40px;
    padding: 20px 0px;

}

#icon h1 {
    margin-bottom: 0px;
}

#icon h3 {
    margin-top: 0px;
}

.footer a {
    padding: 0px 5px;
}

@media screen and (max-width:680px) {
    .nav {
        flex-direction: column;
    }

    .skill {
        flex-direction: column;
    }

}