body {
    background-color: black;
    margin: 0px;
}

.nav {
    display: flex;
    justify-content: space-between;
    background-color: #3F3F3F;
    width: 100%;
    position: sticky;
    top: 0;

}

.logo {
    margin: 10px;
}

.others {
    margin: 10px;
}

.nav a {
    padding: 20px;
    text-decoration: none;
    color: white;
}

.nav a:hover {
    background-color: white;
    color: black;
}

#title {
    font-family: 'Inknut Antiqua', serif;
    color: white;
    margin-left: 40px;
    margin-bottom: 0px;
    font-size: 48px;
}

.work {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 40px 80px 40px;
    font-family: 'Inknut Antiqua', serif;
}

.work2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 40px 80px 40px;
    font-family: 'Inknut Antiqua', serif;
}

.img {
    flex: 1;
}

.text {
    color: white;
    flex: 1.5;
    padding-left: 20px;
}

.text2 {
    color: white;
    flex: 1.5;
    padding-right: 20px;
}

.text h3 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.text2 h3 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.text h2 {
    margin-top: 0px;
}

.text2 h2 {
    margin-top: 0px;
}

.text a {
    color: #00C2FF;
    font-family: 'Imprima', sans-serif;
    text-decoration: none;
}

.text2 a {
    color: #00C2FF;
    font-family: 'Imprima', sans-serif;
    text-decoration: none;
}

.footer {
    color: white;
    background-color: #3F3F3F;
    margin-top: 100px;
    font-family: 'Inknut Antiqua', serif;
}

#icon {
    margin-left: 40px;
    padding: 20px 0px;

}

#icon h1 {
    margin-bottom: 0px;
}

#icon h3 {
    margin-top: 0px;
}

.footer a {
    padding: 0px 5px;
}

@media screen and (max-width:680px) {
    .nav {
        flex-direction: column;
    }

    .work {
        flex-direction: column;
    }

    .work2 {
        flex-direction: column-reverse;
    }

    .text {
        padding-left: 0px;
    }

    .text2 {
        padding-right: 0px;
    }

    .text h3 {
        margin-top: 20px;
    }

    .text2 h3 {
        margin-top: 20px;
    }
}