div#title {
    text-align: center;
    border-color: black;
    border-width: 5px;
    border-style: none solid solid solid;
    padding: 20px 30px 20px 30px;
    width: 500px;
    margin-left: 500px;
    font-family: Verdana;
    font-size: 20px;
}