div#fhfp {
    background-image: url(image/hand-painted-watercolor-pastel-sky-background_23-2148902771.avif);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px 20px 10px 20px;
    border: 2px solid black;
    margin: 20px 10px 20px 10px;
}

div#sp {
    background-image: url(image/cute-abstract-modern-background-free-vector.jpg);
    padding: 10px;
    border: 2px solid black;
    margin: 10px;
}